*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.sln
*.suo
*.opensdf
*.sdf
*.sln
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries
Build
!Build/**/*.ico
Saved
Intermediate
DerivedDataCache
Content/Airplane/Level/Plane_BuiltData.uasset
Content/Airplane/Level/Plane_Flight_BuiltData.uasset
Content/Airplane/Level/Plane_Master_BuiltData.uasset
Content/Bus/Level/BusLevel_City01_BuiltData.uasset
Content/Bus/Level/BusLevel_Master_BuiltData.uasset
Content/Thunder/Level/Thunder_Master_2_BuiltData.uasset
Content/Speech/Level/ConferenceHall_BuiltData.uasset
Content/Speech/Level/ConferenceRoom_Master_BuiltData.uasset
.vs/NaReRu2/v16/Browse.VC.db
