*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.sln
*.suo
*.opensdf
*.sdf
*.sln
SourceArt/**/*.png
SourceArt/**/*.tga
Binaries
Build
!Build/**/*.ico
Saved
Intermediate
DerivedDataCache
Content/Airplane/Level/Plane_BuiltData.uasset
Content/Airplane/Level/Plane_Flight_BuiltData.uasset
Content/Airplane/Level/Plane_Master_BuiltData.uasset
Content/Bus/Level/BusLevel_City01_BuiltData.uasset
Content/Bus/Level/BusLevel_Master_BuiltData.uasset
Content/Thunder/Level/Thunder_Master_2_BuiltData.uasset
Content/Speech/Level/ConferenceHall_BuiltData.uasset
Content/Speech/Level/ConferenceRoom_Master_BuiltData.uasset
.vs/NaReRu2/v16/Browse.VC.db
Content/Bus/Level/BusLevel_City02_BuiltData.uasset
Content/Bus/Level/BusLevel_Mountain_BuiltData.uasset
Content/Bus/Level/BusLevel_Suburb_BuiltData.uasset
Content/Login/Login_BuiltData.uasset
.vs/NaReRu2/v16/ipch/AutoPCH/576e1f0c8ce621e5/RESULT_LOG.ipch
.vs/NaReRu2/v16/ipch/AutoPCH/cc841f72af5d9cd4/USAGEHISTORY.ipch
.vs/NaReRu2/v16/ipch/AutoPCH/ec7f7acbbf06a7ce/PATIENT_ID.ipch
.vs/NaReRu2/v16/ipch/AutoPCH/f1b14df02c053fb4/LOGIN.ipch
.vs/NaReRu2/v16/ipch/AutoPCH/28a1eb9f271be5b8/NARERU2.ipch
Content/Thunder/Object/HQ_ResidentialHouse/Textures/Sofa/T_Sofa_02_N.uasset
Content/Elevator/Level/Acrophobia_Master_BuiltData.uasset
